*{
    margin: 0 ;
    padding:0;
    box-sizing: border-box;
}
#header {
    background-color: #fefefe;
    display: flex;
    height: 60px; 
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fefefe;
}

#tickethack{
    color: rgb(51, 151, 101);
    font-weight: bold;
    font-size: 20px;
}

#links{
    display: flex;
    
}

#cart{
    padding-right: 25px;
    font-weight: bold;
    display: flex;
   
}


#bookings{
    font-weight: bold; 
}


#background_cart{
    background-color:#eff2f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    display: flex;
    background-color:whitesmoke;

}


#box_cart{
    width: 900px; 
    height: 150px;
    background-color: #fefefe;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





