*{
    margin: 0 ;
    padding:0;
    box-sizing: border-box;
}
#header {
    background-color: #fefefe;
    display: flex;
    height: 60px; 
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fefefe;
}

#tickethack{
    color: rgb(51, 151, 101);
    font-weight: bold;
    font-size: 20px;
}

#links{
    display: flex;
    
}

#logo{
    color: rgb(51, 151, 101);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#cart{
    padding-right: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#bookings{
    font-weight: bold; 
    text-decoration: none;
    color: black;
}


#background_cart{
    background-color:#eff2f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:whitesmoke;
    overflow: scroll;
}


#box_cart{
    width: 700px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

}

.box_trips {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(220, 220, 220);
    width: 500px;
    height: 60px;
    margin-top: 10px;
}

.btn_delete {
    height: 30px;
    width: 30px;
    background-color: rgb(15, 118, 15);
    border-radius: 5px;
    cursor: pointer;
}



