*{
    margin: 0 ;
    padding:0;
    box-sizing: border-box;
}
#header {
    background-color: rgb(252, 251, 251);
    display: flex;
    height: 60px; 
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#logo{
    color: rgb(51, 151, 101);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#cart{
    padding-right: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#bookings{
    font-weight: bold; 
    text-decoration: none;
    color: black;
}

#links{
    display: flex;
}


#title{
    color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 50px;
}

h1{
margin-bottom: 5px;
}


#cards-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.card-box-left {
    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(250, 249, 249);
    border-radius: 10px;
}

.card-box-right {
    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(250, 249, 249);
    border-radius: 10px;
    gap: 10px;
    overflow: scroll;
}

.input_card {
    height: 35px;
    width: 235px;
    border-radius: 5px;
    margin-top: 3px;
    outline: none;
    padding-left: 10px;
}

#inputDate {
    margin-top: 30px;
}

#search_btn {
    background-color: rgb(51, 151, 101);
    height: 30px;
    width: 230px;
    border-radius: 5px;
    color: white;
    margin-top: 80px;
}

#train_img {
    width: 140px;
    height: 150px;
    border-bottom: 2px solid rgb(51, 151, 101);
    padding-bottom: 30px;
}

#p_img {
    margin-top: 80px;
}

#backgound_img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.trip_container {
    height: 35px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(192, 190, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.btn_book {
    background-color: rgb(51, 151, 101);
    color: white;
    cursor: pointer;
    text-decoration: none;
}